.headerRoot {
  background-color: var(--primary-color);
  color: white;
  height: 64px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-weight: 900;
  font-size: 22px;
}
